.banner {
margin-top: 5vh;
height: 80vh;
margin-bottom: -80px;
color: white;
object-fit: contain;
 
}

.banner_contents {
 margin-left: 30px;
 padding-top: 300px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  margin-top: 10px;
  font-size: 1rem;
  width: 45rem;
  max-width: 360px;
  line-height: 1;
  padding: 1rem 0;
  height: 80px;
}


.banner_button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 3rem;
  margin-right: 2rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.2vw;
  background-color: rgba(51, 51, 51, 0.5);
  outline: none;
}

.play{
    color: #000;
    background-color: #fff;
}
.banner_button:hover {
  background-color:#c6c6c6; /* Netflix red */
  color: #000;
  transition: all 0.2s;
}

/* .banner_fadeBottom{
    height: 40vh;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgb(37, 37, 37, 0.91),
        #111
    );
} */


.banner_fadeBottom {
    height: 10vh; /* Adjust the height */
    background-image: linear-gradient(
        180deg, 
        transparent 0%, 
        rgba(37, 37, 37, 0.91) 50%, /* Adjust the opacity value */
        #111 100%
    );
    position: absolute; /*  it's on top of the content */
    bottom: 0; /* Position it at the bottom */
    left: 0;
    right: 0;
}

