.footer_outer_container {
  background-color: #111;
  color: grey;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer_inner_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 22px;
}

.footer_data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow the items to wrap when screen is smaller */
  width: 100%;
  margin-bottom: 20px;
}

.footer_data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.footer_data ul li {
  cursor: pointer;
  margin-bottom: 10px;
}

.footer_data ul {
margin-bottom: 10px;
}

.service_code {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}

.footer_copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .footer_inner_container {
    width: 90%;
  }

  .footer_icons {
    width: 20%;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .footer_data {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_data ul {
    margin-bottom: 10px;
  }

  .service_code {
    width: 100%;
    margin: 20px 0;
  }

  .footer_copyright {
    font-size: 12px;
  }
}

/* Tablet Responsiveness */
@media (max-width: 1024px) {
  .footer_inner_container {
    width: 80%;
  }

  .footer_icons {
    width: 15%;
    font-size: 20px;
  }

  .footer_data {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_data ul {
    margin-bottom: 15px;
  }

  .service_code {
    width: 100%;
    margin: 20px 0;
  }

  .footer_copyright {
    font-size: 14px;
  }
}
